.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.grid {
  background: gold;
  margin: 2px;
  width: 40px;
  height: 30px;
  
  text-align: center;
  float:left;
  padding: 10px 0px 0px 0px;
}


.Board{
  width: 161px;
  height: 70px;
 margin:  0 auto;
  clear:both;

}